<!DOCTYPE html>
<html>
  <head>
    <title>Pocket-TED</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
         <div class="container">
           <%= link_to root_path do %>
            <span><%= image_tag "icons/p-ted-g-top.png", class: "navbar-brand" %></span>
         <% end %>
            <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
                 <%= current_user.email %>
               <li>
                 <%= link_to "#", edit_user_registration_path %>
                 <%= image_tag "icons/p-ted-e-y-a.png" %>
               </li>
               <li>
                 <%= link_to "sign OUT", destroy_user_session_path %>
                   <%= image_tag "icons/p-ted-s-out.png" %>
               </li>
            <% else %>
               <li>
                 <%= link_to "sign UP", new_user_registration_path %>
                   <%= image_tag "icons/p-ted-s-up.png" %>
               </li>
               <li>
                 <%= link_to "sign IN", new_user_session_path %>
                   <%= image_tag "icons/p-ted-s-in.png" %>
               </li>
             <% end %>
           </ul>
         </div>
       </nav>



    <%= yield %>
  </body>
</html>
